<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weapon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{101,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,21}}</string>
                <key>sourceSize</key>
                <string>{101,21}</string>
            </dict>
            <key>weapon_1_guang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,69}}</string>
                <key>sourceSize</key>
                <string>{164,69}</string>
            </dict>
            <key>weapon_1_guang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,69}}</string>
                <key>sourceSize</key>
                <string>{65,69}</string>
            </dict>
            <key>weapon_1_guang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,73},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>weapon_1_guang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{93,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,19}}</string>
                <key>sourceSize</key>
                <string>{93,19}</string>
            </dict>
            <key>weapon_1_guang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,73},{74,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,24}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weapon.png</string>
            <key>size</key>
            <string>{235,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:478bca711800a6f9927b089de6a12fc1$</string>
            <key>textureFileName</key>
            <string>weapon.png</string>
        </dict>
    </dict>
</plist>
